
.carousel {
	>input[type="radio"] {
		&:nth-child(1) {
			&:checked {
				~ {
					.carousel__prev {
						>label {
							&:nth-child(5) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__next {
						>label {
							&:nth-child(2) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__items {
						.carousel__item {
							&:nth-child(1) {
								opacity: 1;
							}
						}
					}
					.carousel__nav {
						>label {
							&:nth-child(1) {
								background: #ccc;
								cursor: default;
								pointer-events: none;
							}
						}
					}
				}
			}
		}
		&:nth-child(2) {
			&:checked {
				~ {
					.carousel__prev {
						>label {
							&:nth-child(1) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__next {
						>label {
							&:nth-child(3) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__items {
						.carousel__item {
							&:nth-child(2) {
								opacity: 1;
							}
						}
					}
					.carousel__nav {
						>label {
							&:nth-child(2) {
								background: #ccc;
								cursor: default;
								pointer-events: none;
							}
						}
					}
				}
			}
		}
		&:nth-child(3) {
			&:checked {
				~ {
					.carousel__prev {
						>label {
							&:nth-child(2) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__next {
						>label {
							&:nth-child(4) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__items {
						.carousel__item {
							&:nth-child(3) {
								opacity: 1;
							}
						}
					}
					.carousel__nav {
						>label {
							&:nth-child(3) {
								background: #ccc;
								cursor: default;
								pointer-events: none;
							}
						}
					}
				}
			}
		}
		&:nth-child(4) {
			&:checked {
				~ {
					.carousel__prev {
						>label {
							&:nth-child(3) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__next {
						>label {
							&:nth-child(5) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__items {
						.carousel__item {
							&:nth-child(4) {
								opacity: 1;
							}
						}
					}
					.carousel__nav {
						>label {
							&:nth-child(4) {
								background: #ccc;
								cursor: default;
								pointer-events: none;
							}
						}
					}
				}
			}
		}
		&:nth-child(5) {
			&:checked {
				~ {
					.carousel__prev {
						>label {
							&:nth-child(4) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__next {
						>label {
							&:nth-child(1) {
								opacity: 1 !important;
								z-index: 3;
							}
						}
					}
					.carousel__items {
						.carousel__item {
							&:nth-child(5) {
								opacity: 1;
							}
						}
					}
					.carousel__nav {
						>label {
							&:nth-child(5) {
								background: #ccc;
								cursor: default;
								pointer-events: none;
							}
						}
					}
				}
			}
		}
		position: absolute;
		left: 0;
		opacity: 0;
		top: 0;
		&:checked {
			~ {
				.carousel__items {
					.carousel__item {
						opacity: 0;
					}
				}
				.carousel__prev {
					>label {
						opacity: 0;
					}
				}
				.carousel__next {
					>label {
						opacity: 0;
					}
				}
			}
		}
	}
	width: 100%;
	position: relative;
	overflow: hidden;
}
.carousel__items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	height: 600px;
	position: relative;
}
.carousel__item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-o-transition: opacity 2s;
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
	img {
		width: 100%;
		vertical-align: middle;
	}
}
.carousel__prev {
	>label {
		border: 1px solid #fff;
		border-radius: 50%;
		cursor: pointer;
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transition: all .3s ease;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		opacity: 0;
		z-index: 2;
		left: 2%;
		&:hover {
			opacity: .5 !important;
		}
		&:focus {
			opacity: .5 !important;
		}
		&:before {
			content: "";
			position: absolute;
			width: inherit;
			height: inherit;
			background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0))), -webkit-gradient(linear, right top, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0)));
			background: -webkit-linear-gradient(bottom, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), -webkit-linear-gradient(right, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
			background: -o-linear-gradient(bottom, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), -o-linear-gradient(right, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
			background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
			width: 60%;
			height: 60%;
			top: 20%;
			left: 35%;
			top: 20%;
			-ms-transform: rotate(135deg);
			transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
		}
		&:after {
			content: "";
			position: absolute;
			width: inherit;
			height: inherit;
		}
	}
}
.carousel__next {
	>label {
		border: 1px solid #fff;
		border-radius: 50%;
		cursor: pointer;
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transition: all .3s ease;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		opacity: 0;
		z-index: 2;
		right: 2%;
		&:hover {
			opacity: .5 !important;
		}
		&:focus {
			opacity: .5 !important;
		}
		&:before {
			content: "";
			position: absolute;
			width: inherit;
			height: inherit;
			background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0))), -webkit-gradient(linear, right top, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0)));
			background: -webkit-linear-gradient(bottom, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), -webkit-linear-gradient(right, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
			background: -o-linear-gradient(bottom, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), -o-linear-gradient(right, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
			background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
			width: 60%;
			height: 60%;
			top: 20%;
			left: 10%;
			-ms-transform: rotate(315deg);
			transform: rotate(315deg);
			-webkit-transform: rotate(315deg);
		}
		&:after {
			content: "";
			position: absolute;
			width: inherit;
			height: inherit;
		}
	}
}
.carousel__nav {
	position: absolute;
	bottom: 3%;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 3;
	>label {
		border: 1px solid #fff;
		display: inline-block;
		border-radius: 50%;
		cursor: pointer;
		margin: 0 .125%;
		width: 20px;
		height: 20px;
	}
}
