/* =======******====== SUPPORT ======******====== */

#support_part{
    // padding: 50px 0 50px;
    padding-top: 80px;
   

    .box_cont{
        border: 1px solid #77a464;
        padding: 30px;
        margin-top: 35px;
    }

    .head{
        h3{
            color: #333;
            font-size: 25px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            span{
                color: #77a464;
            }
        }



        p{
            color: #666;
            font-size: 15px;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
        }
    }

    .delivery_service{

        margin-top: 20px;

        .support_img{
            width: 50px;
            margin-left: 40%;
            img{
                height: 45px;
            }
        }

        .support_text{
            h4{
                color: #333;
                font-size: 15px;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
            }
            p{
                color: #666;
                font-size: 15px;
                font-weight: 400;
                font-family: 'Poppins', sans-serif;
            }
        }

       
        
        // .support_img{
        //     position: absolute;
        //     width: 50px;
        //     left: 145px;
        //     top: 0;
        //     margin-left: 17px;
        //     margin-top: 8px;
        // }

        // .service_text{
        //     h3{
        //         color: #333;
        //         font-size: 20px;
        //         font-weight: 500;
        //         font-family: 'Poppins', sans-serif;
                
        //     }

        //     p{
        //         color: #333;
        //         font-size: 12px;
        //         font-weight: 400;
        //         font-family: 'Poppins', sans-serif;
        //     }
        // }


        // .maintain_img{
        //     width: 37px;
        //     margin-top: 1px;
        // }

        // .money_img{
        //     width: 40px;
        //     margin-top: -1px;
        // }
    }
}


/* =======******====== SUPPORT ======******====== */